black==24.2.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
idna==3.6
mypy-extensions==1.0.0
numpy==1.26.4
packaging==23.2
pathspec==0.12.1
platformdirs==4.2.0
praw==7.7.1
prawcore==2.4.0
python-dotenv==1.0.0
requests==2.31.0
update-checker==0.18.0
urllib3==2.2.0
websocket-client==1.7.0
